# Editor generate files
.idea/
.settings/
._project/

# Dev dependencies and cache files
node_modules/
npm-debug.log

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
*~
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Dist files
dist/
umd/
