{
  "extends": ["stylelint-config-standard", "stylelint-config-recommended-scss"],
  "rules": {
    "no-descending-specificity": [
      true,
      {
        "ignore": ["selectors-within-list"]
      }
    ]
  }
}
