/**
 * Author: Sivan [sun.sivan@gmail.com]
 */

/** 测试用代码段 开始 **/

/* 简单模拟 css reset */
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* 模拟不知道哪里流传出来的垃圾代码 */
ul,
li {
  list-style: none;
}

/** 测试用代码段 结束 **/

/** 基础样式 **/
body {
  background-color: #fff;
}

a {
  color: #4285f4;
  text-decoration: none;
}

.container {
  box-sizing: border-box;
  padding-block-start: 12px;
  padding-block-end: 12px;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
}

/** 首页样式 **/
.article {
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-block-end: 24px;
  outline: 1px solid transparent;
}

.article[data-bg-grid="grid-24"] {
  background-size: 100% 24px;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0) 31px, #f8f8f8 1px, rgba(255, 255, 255, 0) 33px),
    linear-gradient(rgba(255, 255, 255, 0) 23px, #f8f8f8 1px);
  outline-color: #eee;
}

.article[data-debug-mode][data-bg-grid="grid-24"],
.article[data-bg-grid="grid-24"]:hover {
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0) 31px, #eee 1px, rgba(255, 255, 255, 0) 33px),
    linear-gradient(rgba(255, 255, 255, 0) 23px, #eee 1px);
}

.article[data-bg-grid="grid-24"] .heti--vertical {
  background-size: 24px 100%;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 23px, #f8f8f8 1px);
  outline: 1px solid #eee;
}

.article[data-debug-mode][data-bg-grid="grid-24"] .heti--vertical,
.article[data-bg-grid="grid-24"]:hover .heti--vertical {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 23px, #eee 1px);
}

.article[data-bg-grid="grid-12"] {
  background-size: 100% 12px;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0) 31px, #f8f8f8 1px, rgba(255, 255, 255, 0) 33px),
    linear-gradient(rgba(255, 255, 255, 0) 11px, #f8f8f8 12px);
  outline-color: #eee;
}

.article[data-debug-mode][data-bg-grid="grid-12"],
.article[data-bg-grid="grid-12"]:hover {
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0) 31px, #eee 1px, rgba(255, 255, 255, 0) 33px),
    linear-gradient(rgba(255, 255, 255, 0) 11px, #eee 12px);
}

.article[data-bg-grid="grid-12"] .heti--vertical {
  background-size: 12px 100%;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 11px, #f8f8f8 1px);
  outline: 1px solid #eee;
}

.article[data-debug-mode][data-bg-grid="grid-12"] .heti--vertical,
.article[data-bg-grid="grid-12"]:hover .heti--vertical {
  background-image: linear-gradient(to left, transparent 11px, #eee 1px);
}

.anchor {
  margin-inline-start: 0.25em;
}

/** 导航样式 **/
.article .article__toc ol {
  margin-block-start: 24px;
  margin-block-end: 24px;
}

/** 页脚样式 **/
.fn {
  position: relative;
  max-width: 42em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-block-start: 4px;
  border-block-start: 1px solid #ccc;
}

.fn__list {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 2em;
  list-style-type: decimal;
  font-size: 14px;
  line-height: 24px;
}

.fn__list li {
  list-style-type: unset;
}

/** 控制栏样式 **/
.panel {
  position: fixed;
  z-index: 2;
  right: 12px;
  top: 12px;
  display: flex;
  text-align: right;
}

.switch-list {
  display: inline-flex;
  margin: 0;
  padding: 0;
  margin-inline-start: 12px;
  list-style-type: none;
}

.switch-list li {
  margin-inline-end: -1px;
}

.switch-list input {
  display: none;
}

.switch-list label {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 24px;
  padding: 0;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  border: 1px solid #c2c2c2;
  border-block-start-color: #c9c9c9;
  border-block-end-color: #a6a6a6;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  background-color: #fff;
  color: #000;
  user-select: none;
}

.switch-list label:active {
  background-color: #f0f0f0;
}

.switch-list li:first-child label {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.switch-list li:last-child label {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.switch-list input:checked + label {
  z-index: 1;
  border-color: #98989e;
  border-block-start-color: #a5a5ab;
  border-block-end-color: #7e7e84;
  background-image: linear-gradient(to bottom, #b1b1b6, #929297);
  color: rgba(255, 255, 255, 1);
}

.switch-list input:checked + label:active {
  border-color: #65656b;
  border-block-start-color: #808086;
  border-block-end-color: #414147;
  background-image: linear-gradient(to bottom, #919196, #57575c);
  color: rgba(255, 255, 255, 0.95);
}

/** 演示卡片 **/
.card {
  position: relative;
  left: -12px;
  width: 100%;
  margin-block-start: 24px;
  margin-block-end: 48px;
  padding-block-start: 12px;
  padding-block-end: 12px;
  padding-inline-start: 12px;
  padding-inline-end: 12px;
  border-radius: 2px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.article .card {
  text-align: left;
}

.article .card > figcaption {
  display: inline-block;
  margin-block-start: 16px;
  padding-block-start: 4px;
  padding-block-end: 3px;
  padding-inline-start: 0;
  padding-inline-end: 72px;
  line-height: 24px;
  border-block-start: 1px solid #eee;
}

.card__vertical-container {
  box-sizing: border-box;
  width: 100%;
  height: 30em;
  border: 1px solid #eee;
  overflow: auto;
  writing-mode: vertical-rl;
}

/** 演示区块 **/
.demo {
  margin-block-start: 24px;
  margin-block-end: 24px;
}

.section {
  width: 100%;
  max-height: 85vh;
  margin-block-start: 12px;
  margin-block-end: 12px;
  overflow: auto;
}

@media screen and (min-width: 640px) {
  body {
    min-width: 900px;
    background-color: #eee;
  }

  .container {
    box-sizing: border-box;
    width: 75%;
    min-width: 720px;
    max-width: 880px;
    margin-block-start: 48px;
    margin-block-end: 72px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding-block-start: 48px;
    padding-block-end: 48px;
    padding-inline-start: 48px;
    padding-inline-end: 48px;
    border-radius: 2px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.32);
    background-color: #fff;
  }

  .article h1,
  .article h2,
  .article h3,
  .article h4,
  .article h5,
  .article h6 {
    position: relative;
  }

  .article h1:hover .anchor,
  .article h2:hover .anchor,
  .article h3:hover .anchor,
  .article h4:hover .anchor,
  .article h5:hover .anchor,
  .article h6:hover .anchor {
    opacity: 1;
  }

  .article .anchor {
    position: absolute;
    left: -1em;
    width: 1em;
    margin-inline-start: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: inherit;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  .article .anchor:hover {
    text-decoration: none;
    border: 0;
  }

  .card {
    box-sizing: border-box;
    left: -20%;
    width: 140%;
    margin-block-start: 24px;
    margin-block-end: 72px;
    padding-block-start: 24px;
    padding-block-end: 24px;
    padding-inline-start: 32px;
    padding-inline-end: 32px;
  }

  .section {
    height: auto;
    overflow: visible;
  }
}

@media screen and (min-width: 900px) {
  .article__toc {
    position: relative;
    z-index: 1;
    float: right;
    width: 192px;
    margin-block-start: -1px;
    margin-block-end: 12px;
    margin-inline-start: 32px;
    margin-inline-end: -16px;
    padding-block-start: 12px;
    padding-block-end: 12px;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    border: 1px solid #eee;
    border-radius: 2px;
    background-color: #fff;
  }

  .article .article__toc ol {
    margin-block-start: 12px;
    margin-block-end: 0;
  }
}
